@use "vars" as *;
@use "mixin" as *;

.contact {
	.contact-box {
		max-width: 1040px;
		padding: 6rem 0;
		background-color: $main-color;
		gap: 3rem;

		.wrapper-heading-contact {
			h3 {
				@include section-second-heading();
				color: $secondary-color;
				text-align: center;
				font-weight: 400;
				line-height: 120%;
				letter-spacing: -2px;
				span {
					display: inline-block;
					font-family: "Inter", sans-serif;
					font-style: italic;
					font-weight: 500;
					letter-spacing: 1px;
				}
			}
		}
	}

	.instagram {
		p {
			@include text();
			color: $secondary-color;
			letter-spacing: -0.16px;
		}

		button {
			@include btn-oval();
			background-color: $secondary-color;
			position: relative;
			overflow: hidden;

			a {
				padding: 1rem 1.2rem;
				color: $main-color;
				font-size: 1.6rem;
				text-decoration: none;
			}

			&::before {
				@include btn-before();
				background-color: $main-color;
				transform: scaleY(0);
				transition: transform 0.5s linear;
				transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
			}

			&:hover {
				a {
					position: relative;
					color: $secondary-color;
				}
				&::before {
					transform: scaleY(1);
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.contact {
		.contact-box {
			margin: 6rem auto;
			padding: 12rem 0;
			gap: 6.4rem;

			.wrapper-heading-contact {
				h3 {
					text-align: left;
					font-size: 4rem;
				}
			}
		}

		.instagram {
			width: 157px;
			gap: 2.4rem;
		}
	}
}
