@use "vars" as *;
@use "mixin" as *;

footer {
	background-color: $text-color;
	color: $secondary-color;
	padding: 4rem 0;

	.footer-box {
		max-width: 1040px;
		margin: 4rem auto;
		gap: 6rem;

		.footer-content {
			gap: 4rem;

			.footer-content-top {
				gap: 3rem;
				.logo {
					img {
						width: 100%;
					}
				}
				.footer-contact {
					p {
						@include text();
						color: $secondary-color;
						letter-spacing: -0.16px;
					}
					button {
						@include btn-oval();
						position: relative;
						width: 100%;
						font-size: 1.6rem;
						background-color: $main-color;
						color: $secondary-color;
						overflow: hidden;

						&::before {
							@include btn-before();
							background-color: $secondary-color;
							transform: scaleX(0);
							transition: transform 0.5s linear;
							transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
						}

						&:hover {
							span {
								position: relative;
								color: $main-color;
							}

							&::before {
								transform: scaleX(1);
							}
						}
					}
				}
			}

			.divider {
				width: 100%;
				height: 1px;
				background: $secondary-color;
			}

			.footer-content-bottom {
				width: 100%;
				gap: 2rem;

				.media-list {
					padding: 0;
					li {
						list-style: none;

						a {
							font-size: 1.4rem;
							color: $secondary-color;
							text-decoration: none;
						}
					}
				}

				.footer-contact {
					p {
						a {
							font-size: 1.4rem;
							text-decoration: none;
							color: $secondary-color;
						}
					}
				}
			}
		}

		.copyrights {
			p {
				@include text();
				color: $secondary-color;
				letter-spacing: -0.16px;

				&:nth-child(2) {
					text-align: center;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	footer {
		.footer-box {
			.footer-content {
				gap: 6.2rem;

				.footer-content-top {
					width: 100%;

					.footer-contact {
						gap: 2.4rem;
						p {
							margin: 0;
						}
						button {
							width: auto;
						}
					}
				}

				.footer-content-bottom {
					.media-list {
						gap: 4.8rem;
					}

					.footer-contact {
						gap: 4.8rem;
					}
				}
			}

			.copyrights {
				p {
					img {
						margin-left: 1.6rem;
					}
					&:nth-child(2) {
						text-align: left;
					}
				}
			}
		}
	}
}
