@use "vars" as *;
@use "mixin" as *;

.offer {
	@include margin-section();

	.offer-wrapper {
		.offer-content {
			display: flex;
			flex-direction: column;
			width: 90%;
			margin: 0 auto 5rem 0;
			gap: 1.6rem;

			h2 {
				@include section-heading();
			}

			h3 {
				@include section-second-heading();
			}

			p {
				@include text();
				letter-spacing: -0.16px;
				font-family: "Inter", sans-serif;
				text-align: justify;
			}
		}

		.offer-cards {
			gap: 6.4rem;

			div.card {
				max-width: 378px;
				height: 370px;
				padding: 48px 40px;
				border-radius: 28px;
				border: none;
				gap: 32px;
				background-color: #fff;

				transition: transform 0.3s ease-in-out;

				img {
					width: 40px;
				}

				.text-card {
					h4 {
						@include card-heading();
					}

					p {
						@include text;
						font-size: 1.3rem;
						letter-spacing: -0.14px;
					}
				}

				button {
					margin-top: auto;
					border: none;
					background-color: transparent;
					transition: transform 0.3s ease-in-out;

					a {
						border-bottom: 1px solid $main-color;
						color: $main-color;
						font-size: 1.6rem;
						font-family: "Inter", sans-serif;
						text-decoration: none;
						line-height: 150%;

						img {
							display: inline-block;
							margin-left: 1rem;
							transform: rotate(-90deg);
							width: 1.6rem;
							transition: margin 0.3s ease-in-out;
						}
					}
				}

				&:hover {
					transform: translateY(-20px);
					box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.2);

					button {
						a {
							img {
								margin-left: 1.6rem;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.offer {
		@include margin-section-desctop();

		.offer-wrapper {
			gap: 9.6rem;
		}
	}
}
