@use "vars" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	height: 250vh;
	font-size: 10px;
	font-family: $text-font, sans-serif;
}

body {
	scroll-behavior: smooth;
	background-color: $secondary-color;
}

[id] {
	scroll-margin-top: 48px;

	@media (min-width: 992px) {
		scroll-margin-top: 54px;
	}
}
