* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  height: 250vh;
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

body {
  scroll-behavior: smooth;
  background-color: #f5f0ec;
}

[id] {
  scroll-margin-top: 48px;
}
@media (min-width: 992px) {
  [id] {
    scroll-margin-top: 54px;
  }
}

nav {
  background-color: #fff;
}
nav .navbar-nav .dropdown .dropdown-toggle::after {
  content: url("../img/arrow-icon.svg");
  border: none;
  vertical-align: 0;
  transition: transform 0.2s linear;
}
nav .navbar-nav .dropdown .dropdown-toggle.show::after {
  transform: rotate(-180deg);
}
nav .navbar-nav .dropdown .dropdown-menu {
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;
  padding: 0;
  border: 1px solid #f5f0ec;
}
nav .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  color: #111;
  font-family: "Inter", sans-serif;
  padding: 0.6rem 3rem;
  font-size: 1.4rem;
}
nav .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  color: #1b5b31;
}
nav .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  color: #f5f0ec;
  background-color: #1b5b31;
}
nav .navbar-nav .dropdown-menu.show {
  transform: scaleY(1);
}
nav .navbar-nav .nav-item {
  font-size: 1.6rem;
}
nav .navbar-nav .nav-item .nav-link {
  color: #111;
  font-family: "Inter", sans-serif;
}
nav .navbar-nav .nav-item .nav-link:hover {
  color: #1b5b31;
}
nav .navbar-nav .nav-item .bi {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
nav .navbar-nav .nav-item form {
  overflow: hidden;
}
nav .navbar-nav .nav-item form .search {
  width: 0;
  opacity: 0;
  padding: 0.1rem 0.3rem;
  font-size: 1.4rem;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 2px;
  transition: width 0.1s linear;
}
nav .navbar-nav .nav-item form .search:focus {
  outline: none;
}
@media (max-width: 767px) {
  nav .navbar-nav .nav-item form .search {
    width: 150px;
    opacity: 1;
  }
}
nav .navbar-nav .nav-item form .search.active {
  width: 150px;
  opacity: 1;
}

.header .container-fluid {
  position: relative;
  padding: 0;
  overflow: hidden;
}
.header .container-fluid .container {
  height: 90vh;
  background-image: url("../img/photo-header3.jpeg");
  background-size: cover;
  background-position: center;
}
.header .container-fluid .container .hero-block-content {
  height: 100%;
  width: 100%;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.header .container-fluid .container .hero-block-content h1 {
  font-size: 3rem;
  color: #f5f0ec;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}
.header .container-fluid .container .hero-block-content p {
  font-size: 1.4rem;
  line-height: 150%;
  color: #111;
  font-family: "Inter", sans-serif;
  color: #f5f0ec;
}
@media (min-width: 768px) {
  .header .container-fluid .container .hero-block-content p {
    font-size: 1.6rem;
  }
}
.header .container-fluid .container .hero-block-content .wrapper-hero-buttons {
  gap: 1rem;
  margin-bottom: 40px;
}
.header .container-fluid .container .hero-block-content .wrapper-hero-buttons .btn {
  padding: 1.2rem 2.4rem;
  border-radius: 200px;
  background-color: #1b5b31;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.header .container-fluid .container .hero-block-content .wrapper-hero-buttons .btn a {
  color: #f5f0ec;
  font-size: 1.6rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.header .container-fluid .container .hero-block-content .wrapper-hero-buttons .btn a img {
  display: none;
}
.header .container-fluid .container .hero-block-content .wrapper-hero-buttons .btn:hover {
  border: 1px solid #1b5b31;
  background-color: #dcc1ab;
}
.header .container-fluid .container .hero-block-content .wrapper-hero-buttons .btn:hover a {
  color: #1b5b31;
}
.header .container-fluid .hero-block-photo {
  display: none;
}
@media (min-width: 992px) {
  .header .container-fluid {
    background-color: #dcc1ab;
  }
  .header .container-fluid .container {
    background-image: none;
  }
  .header .container-fluid .container .hero-block-content {
    height: 80%;
    width: 50%;
    background-color: transparent;
  }
  .header .container-fluid .container .hero-block-content h1 {
    width: 90%;
    font-size: 6rem;
    line-height: 7rem;
    text-align: left;
    color: #111;
  }
  .header .container-fluid .container .hero-block-content p {
    width: 80%;
    color: #111;
  }
  .header .container-fluid .container .hero-block-content .wrapper-hero-buttons {
    gap: 3.6rem;
    margin-bottom: 0;
  }
  .header .container-fluid .container .hero-block-content .wrapper-hero-buttons .btn:nth-of-type(2) {
    border: 1px solid #1b5b31;
    background-color: transparent;
  }
  .header .container-fluid .container .hero-block-content .wrapper-hero-buttons .btn:nth-of-type(2) a {
    display: flex;
    align-items: center;
    color: #1b5b31;
    gap: 0.8rem;
  }
  .header .container-fluid .container .hero-block-content .wrapper-hero-buttons .btn:nth-of-type(2) a span {
    display: block;
  }
  .header .container-fluid .container .hero-block-content .wrapper-hero-buttons .btn:nth-of-type(2) a span img {
    display: block;
  }
  .header .container-fluid .container .hero-block-content .wrapper-hero-buttons .btn:nth-of-type(2):hover img {
    animation: arrowAnimation 0.7s ease-out;
  }
  .header .container-fluid .hero-block-photo {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .header .container-fluid .hero-block-photo img {
    position: relative;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 100%;
    transform-origin: 100% 0;
  }
}

@media (min-width: 1200px) {
  .container-fluid .hero-block-photo img {
    transform: scale(0.8);
    transform-origin: 100% 0;
  }
  .container-fluid .hero-block-photo img {
    top: -130px;
  }
}
@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-3px);
  }
  30% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(-1px);
  }
  70% {
    transform: translateY(4px);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.header {
  position: relative;
}
.header .buttons-slider-wrapper {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 150px;
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f0ec;
  z-index: 10;
}
.header .buttons-slider-wrapper .carousel-control-prev,
.header .buttons-slider-wrapper .carousel-control-next {
  position: static;
  width: auto;
  opacity: 1;
}
.header .buttons-slider-wrapper .carousel-control-prev-icon,
.header .buttons-slider-wrapper .carousel-control-next-icon {
  width: 4.8rem;
  height: 4.8rem;
  background-image: url("../img/arrow-left-icon.svg");
  background-size: auto;
}
.header .buttons-slider-wrapper .carousel-control-next-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .header .buttons-slider-wrapper {
    right: 0;
    transform: translateX(0%);
    width: 200px;
    height: 90px;
    border-radius: 0;
  }
}

.offer {
  margin-top: 6rem;
  margin-bottom: 8rem;
}
.offer .offer-wrapper .offer-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto 5rem 0;
  gap: 1.6rem;
}
.offer .offer-wrapper .offer-content h2 {
  color: #1b5b31;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.12px;
}
.offer .offer-wrapper .offer-content h3 {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px;
}
.offer .offer-wrapper .offer-content h3 span {
  display: block;
  font-style: italic;
}
@media (min-width: 768px) {
  .offer .offer-wrapper .offer-content h3 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .offer .offer-wrapper .offer-content h3 {
    font-size: 4.8rem;
  }
}
.offer .offer-wrapper .offer-content p {
  font-size: 1.4rem;
  line-height: 150%;
  color: #111;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.16px;
  font-family: "Inter", sans-serif;
  text-align: justify;
}
@media (min-width: 768px) {
  .offer .offer-wrapper .offer-content p {
    font-size: 1.6rem;
  }
}
.offer .offer-wrapper .offer-cards {
  gap: 6.4rem;
}
.offer .offer-wrapper .offer-cards div.card {
  max-width: 378px;
  height: 370px;
  padding: 48px 40px;
  border-radius: 28px;
  border: none;
  gap: 32px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}
.offer .offer-wrapper .offer-cards div.card img {
  width: 40px;
}
.offer .offer-wrapper .offer-cards div.card .text-card h4 {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.4px;
}
.offer .offer-wrapper .offer-cards div.card .text-card p {
  font-size: 1.4rem;
  line-height: 150%;
  color: #111;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  letter-spacing: -0.14px;
}
@media (min-width: 768px) {
  .offer .offer-wrapper .offer-cards div.card .text-card p {
    font-size: 1.6rem;
  }
}
.offer .offer-wrapper .offer-cards div.card button {
  margin-top: auto;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}
.offer .offer-wrapper .offer-cards div.card button a {
  border-bottom: 1px solid #1b5b31;
  color: #1b5b31;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  line-height: 150%;
}
.offer .offer-wrapper .offer-cards div.card button a img {
  display: inline-block;
  margin-left: 1rem;
  transform: rotate(-90deg);
  width: 1.6rem;
  transition: margin 0.3s ease-in-out;
}
.offer .offer-wrapper .offer-cards div.card:hover {
  transform: translateY(-20px);
  box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.2);
}
.offer .offer-wrapper .offer-cards div.card:hover button a img {
  margin-left: 1.6rem;
}

@media (min-width: 992px) {
  .offer {
    margin-top: 12rem;
    margin-bottom: 16rem;
  }
  .offer .offer-wrapper {
    gap: 9.6rem;
  }
}
.about .about-wrapper {
  position: relative;
}
.about .about-wrapper .about-photo {
  height: 720px;
  background-image: url("/img/house2.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .about-wrapper .about-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  gap: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.about .about-wrapper .about-content h2 {
  color: #1b5b31;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.12px;
}
.about .about-wrapper .about-content h3 {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px;
}
.about .about-wrapper .about-content h3 span {
  display: block;
  font-style: italic;
}
@media (min-width: 768px) {
  .about .about-wrapper .about-content h3 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .about .about-wrapper .about-content h3 {
    font-size: 4.8rem;
  }
}
.about .about-wrapper .about-content p {
  font-size: 1.4rem;
  line-height: 150%;
  color: #111;
  font-family: "Inter", sans-serif;
  text-shadow: 1px 1px 1px #111;
}
@media (min-width: 768px) {
  .about .about-wrapper .about-content p {
    font-size: 1.6rem;
  }
}
.about .about-wrapper .about-content button {
  padding: 1.2rem 2.4rem;
  border-radius: 200px;
  position: relative;
  width: 75%;
  background: transparent;
  border: 1px solid #f5f0ec;
  overflow: hidden;
}
.about .about-wrapper .about-content button a {
  color: #f5f0ec;
  font-size: 1.6rem;
  text-decoration: none;
}
.about .about-wrapper .about-content button a span {
  margin-left: 8px;
}
.about .about-wrapper .about-content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  background-color: #f5f0ec;
  transition: transform 0.5s linear;
  transform: scaleX(0);
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.about .about-wrapper .about-content button:hover a {
  position: relative;
  color: #1b5b31;
}
.about .about-wrapper .about-content button:hover::before {
  transform: scaleX(1);
}
.about .about-wrapper .about-content h2,
.about .about-wrapper .about-content h3,
.about .about-wrapper .about-content p {
  color: #f5f0ec;
}

@media (min-width: 992px) {
  .about {
    background-color: #1b5b31;
  }
  .about .about-wrapper {
    position: static;
    height: 720px;
    gap: 6.4rem;
  }
  .about .about-wrapper .about-photo {
    background-position: left top;
    background-size: contain;
  }
  .about .about-wrapper .about-content {
    position: static;
    background-color: transparent;
  }
  .about .about-wrapper .about-content button {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .about .about-wrapper .about-content {
    padding-left: 9.6rem !important;
  }
  .about .about-wrapper .about-content p {
    width: 80%;
  }
}
.projects {
  background-color: #dcc1ab;
  padding-bottom: 4.4rem;
}
.projects .projects-content {
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.projects .projects-content h2 {
  color: #1b5b31;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.12px;
}
.projects .projects-content h3 {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px;
}
.projects .projects-content h3 span {
  display: block;
  font-style: italic;
}
@media (min-width: 768px) {
  .projects .projects-content h3 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .projects .projects-content h3 {
    font-size: 4.8rem;
  }
}
.projects .projects-content h3 span {
  display: inline-block;
}
.projects .wrapper-gallery {
  position: relative;
}
.projects .wrapper-gallery .bg-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1000px;
  width: 100%;
}
.projects .wrapper-gallery .bg-gradient .opacity {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
  z-index: 2;
}
.projects .wrapper-gallery button {
  padding: 1.2rem 2.4rem;
  border-radius: 200px;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #111;
  font-size: 1.6rem;
  z-index: 3;
  display: flex;
  align-items: center;
}
.projects .wrapper-gallery button span {
  display: block;
}
.projects .wrapper-gallery button span img {
  display: block;
  margin-left: 8px;
}

@media (min-width: 992px) {
  .projects {
    background-color: #dcc1ab;
  }
  .projects .projects-content {
    padding-top: 12rem;
    padding-bottom: 16rem;
  }
}
.contact .contact-box {
  max-width: 1040px;
  padding: 6rem 0;
  background-color: #1b5b31;
  gap: 3rem;
}
.contact .contact-box .wrapper-heading-contact h3 {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px;
  color: #f5f0ec;
  text-align: center;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -2px;
}
.contact .contact-box .wrapper-heading-contact h3 span {
  display: block;
  font-style: italic;
}
@media (min-width: 768px) {
  .contact .contact-box .wrapper-heading-contact h3 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .contact .contact-box .wrapper-heading-contact h3 {
    font-size: 4.8rem;
  }
}
.contact .contact-box .wrapper-heading-contact h3 span {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 1px;
}
.contact .instagram p {
  font-size: 1.4rem;
  line-height: 150%;
  color: #111;
  font-family: "Inter", sans-serif;
  color: #f5f0ec;
  letter-spacing: -0.16px;
}
@media (min-width: 768px) {
  .contact .instagram p {
    font-size: 1.6rem;
  }
}
.contact .instagram button {
  padding: 1.2rem 2.4rem;
  border-radius: 200px;
  background-color: #f5f0ec;
  position: relative;
  overflow: hidden;
}
.contact .instagram button a {
  padding: 1rem 1.2rem;
  color: #1b5b31;
  font-size: 1.6rem;
  text-decoration: none;
}
.contact .instagram button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  background-color: #1b5b31;
  transform: scaleY(0);
  transition: transform 0.5s linear;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.contact .instagram button:hover a {
  position: relative;
  color: #f5f0ec;
}
.contact .instagram button:hover::before {
  transform: scaleY(1);
}

@media (min-width: 992px) {
  .contact .contact-box {
    margin: 6rem auto;
    padding: 12rem 0;
    gap: 6.4rem;
  }
  .contact .contact-box .wrapper-heading-contact h3 {
    text-align: left;
    font-size: 4rem;
  }
  .contact .instagram {
    width: 157px;
    gap: 2.4rem;
  }
}
footer {
  background-color: #111;
  color: #f5f0ec;
  padding: 4rem 0;
}
footer .footer-box {
  max-width: 1040px;
  margin: 4rem auto;
  gap: 6rem;
}
footer .footer-box .footer-content {
  gap: 4rem;
}
footer .footer-box .footer-content .footer-content-top {
  gap: 3rem;
}
footer .footer-box .footer-content .footer-content-top .logo img {
  width: 100%;
}
footer .footer-box .footer-content .footer-content-top .footer-contact p {
  font-size: 1.4rem;
  line-height: 150%;
  color: #111;
  font-family: "Inter", sans-serif;
  color: #f5f0ec;
  letter-spacing: -0.16px;
}
@media (min-width: 768px) {
  footer .footer-box .footer-content .footer-content-top .footer-contact p {
    font-size: 1.6rem;
  }
}
footer .footer-box .footer-content .footer-content-top .footer-contact button {
  padding: 1.2rem 2.4rem;
  border-radius: 200px;
  position: relative;
  width: 100%;
  font-size: 1.6rem;
  background-color: #1b5b31;
  color: #f5f0ec;
  overflow: hidden;
}
footer .footer-box .footer-content .footer-content-top .footer-contact button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  background-color: #f5f0ec;
  transform: scaleX(0);
  transition: transform 0.5s linear;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
footer .footer-box .footer-content .footer-content-top .footer-contact button:hover span {
  position: relative;
  color: #1b5b31;
}
footer .footer-box .footer-content .footer-content-top .footer-contact button:hover::before {
  transform: scaleX(1);
}
footer .footer-box .footer-content .divider {
  width: 100%;
  height: 1px;
  background: #f5f0ec;
}
footer .footer-box .footer-content .footer-content-bottom {
  width: 100%;
  gap: 2rem;
}
footer .footer-box .footer-content .footer-content-bottom .media-list {
  padding: 0;
}
footer .footer-box .footer-content .footer-content-bottom .media-list li {
  list-style: none;
}
footer .footer-box .footer-content .footer-content-bottom .media-list li a {
  font-size: 1.4rem;
  color: #f5f0ec;
  text-decoration: none;
}
footer .footer-box .footer-content .footer-content-bottom .footer-contact p a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #f5f0ec;
}
footer .footer-box .copyrights p {
  font-size: 1.4rem;
  line-height: 150%;
  color: #111;
  font-family: "Inter", sans-serif;
  color: #f5f0ec;
  letter-spacing: -0.16px;
}
@media (min-width: 768px) {
  footer .footer-box .copyrights p {
    font-size: 1.6rem;
  }
}
footer .footer-box .copyrights p:nth-child(2) {
  text-align: center;
}

@media (min-width: 768px) {
  footer .footer-box .footer-content {
    gap: 6.2rem;
  }
  footer .footer-box .footer-content .footer-content-top {
    width: 100%;
  }
  footer .footer-box .footer-content .footer-content-top .footer-contact {
    gap: 2.4rem;
  }
  footer .footer-box .footer-content .footer-content-top .footer-contact p {
    margin: 0;
  }
  footer .footer-box .footer-content .footer-content-top .footer-contact button {
    width: auto;
  }
  footer .footer-box .footer-content .footer-content-bottom .media-list {
    gap: 4.8rem;
  }
  footer .footer-box .footer-content .footer-content-bottom .footer-contact {
    gap: 4.8rem;
  }
  footer .footer-box .copyrights p img {
    margin-left: 1.6rem;
  }
  footer .footer-box .copyrights p:nth-child(2) {
    text-align: left;
  }
}/*# sourceMappingURL=index.css.map */